<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.danceland.myapplication"


    android:versionName="1.06">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--读取手机通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--音视频权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--环信相关权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!--bugly start-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--bugly end-->

    <permission
        android:name="com.cn.danceland.myapplication.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.cn.danceland.myapplication.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_dl_logo"
        android:supportsRtl="true"

        android:theme="@style/MyTheme">


        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1103171109178312#donglan" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecommendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- Ding msg send activity -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseDingMsgSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- Ding ack user list activity -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseDingAckUserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <activity
            android:name=".activity.PaiMingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginSMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditPotentialActivity"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pictureviewer.ImagePagerActivity" />
        <activity
            android:name=".activity.ResetPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ClubDynActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PotentialDetailsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ngEPVQS7Y2ZlQWDDyuOGRe63SnMkvbLz"></meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".activity.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddRevisiterRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddUpcomingMatterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellCardConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FitnessManActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RecordView" />
        <activity
            android:name=".activity.DynHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDepositListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BodyAgeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ReadyTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FitnessHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FitnessTestActivity"
            android:screenOrientation="portrait" />


        <activity

            android:name=".activity.PotentialCustomerRevisitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddPotentialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.CourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TuanKeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SiJiaoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuySiJiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellSiJiaoConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SiJiaoOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CabinetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdviseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellStoreCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XiaoFeiRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PingJiaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.QRCodeActivity" />

        <receiver
            android:name=".Receiver.MessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>


        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.cn.danceland.myapplication.fileprovider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->


    </application>


</manifest>