<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.danceland.myapplication"

    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--读取手机通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--音视频权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/MyTheme">
      
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginSMSActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyProActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".pictureviewer.ImagePagerActivity"/>
        <activity android:name=".activity.ResetPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ConfirmPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImagesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PublishActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ngEPVQS7Y2ZlQWDDyuOGRe63SnMkvbLz"></meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


        <activity android:name=".activity.AddFriendsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SellCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SellCardConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FitnessManActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecordView"
            />
        <activity android:name=".activity.DynHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShopDetailedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NewsDetailsActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name=".Receiver.MessageReceiver" />



        <service android:enabled="true" android:process=":pushservice" android:name="com.xiaomi.push.service.XMPushService"/>
        <service android:name="com.xiaomi.push.service.XMJobService" android:enabled="true" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service android:enabled="true" android:exported="true" android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true" android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver android:exported="true" android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:process=":pushservice" android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>




    </application>


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>


    <!--    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
 -->



    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.cn.danceland.myapplication.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.cn.danceland.myapplication.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->



</manifest>